<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary" (click)="input('1')">1</button>
    <button type="button" class="btn btn-secondary" (click)="input('2')">2</button>
    <button type="button" class="btn btn-secondary" (click)="input('3')">3</button>
    <button type="button" class="btn btn-secondary" (click)="input('4')">4</button>
  </div>
</div>
